@font-face {
  font-family: "iconfont"; /* Project id 3888155 */
  src: url('iconfont.woff2?t=1675934004419') format('woff2'),
       url('iconfont.woff?t=1675934004419') format('woff'),
       url('iconfont.ttf?t=1675934004419') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-htmal5icon08:before {
  content: "\e624";
}

.icon-htmal5icon09:before {
  content: "\e625";
}

